#chart {
    width: 800px;
    height: 400px;
    background-color: #f7f7f7;
    margin: 25px auto;
}

.bar {
    display: inline-block;
    /* width: 100px; */
    /* height: 300px; */
    margin: 0 1px;
    background-color: #7ed26d;
}